h1{
    font-family: Arial;
    font-size: 50px;
    /*display: flex;*/
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 750px;
    height: 750px;
    margin: 0 auto;
    color: black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid black;
    font-family: Arial;
    font-size: 100px;
}

/*.finished{*/
    /*display: none;*/
    /*width: 500px;*/
    /*top: 150px;*/
    /*padding: 50px 0;*/
    /*color: black;*/
    /*background-color: cadetblue;*/
    /*position: absolute;*/
    /*left: 36%;*/
    /*text-align: center;*/
    /*font-size: 100px;*/
    /*font-family: Arial;*/
/*}*/

.button{
    text-align: center;
}

button{
    margin: 0;
    padding: 10px 20px;
    color: black;
    background: transparent;
    border: 2px solid black;
    font-size: 24px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    color: white;
}